nav {
  background-color: var(--primary-navbar);
  border-bottom: 1px solid var(--primary-navy);
}

nav ul > li > a {
  text-transform: uppercase;
  color: var(--primary-navy);
}

.navbar-nav > .nav-item {
  margin-right: 20px;
  border-bottom: 3px solid transparent;
}

/* .navbar-nav > .nav-item.active */
.navbar-nav > .nav-item > .nav-link.active {
  border-bottom: 3px solid var(--primary-orange);
}

.navbar-nav > .nav-item:hover {
  border-bottom: 3px solid var(--primary-green);
  transition: border 0.5s ease-in-out;
}

nav .nav-link {
  font-weight: bold;
}

form input[type="search"] {
  background-color: var(--primary-peach);
}

.logo {
  position: relative;
  width: 60px;
  height: 60px;
  border: 2px solid var(--primary-navy);
  border-radius: 50%;
  margin-right: 4px;
  padding: 4px;
  background-color: orangered;
}

.logo-label {
  font-size: 28px;
}
