.main {
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: var(--primary-custom-green);
  text-align: center;
}

.main-background {
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: url("../../../assets/images/idli-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.backdrop {
  background: rgba(120, 120, 120, 0.4);
  width: 100%;
}
